main {
  display: flex;
  gap: 4rem;
}
/* 
#left-nav{
  display: flex;
  justify-items: flex-start;
} */

#content {
  width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.card {
  width: 18rem;
  display: flex;
  flex-direction: column;
}

.busy-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.actions-footer{
  display: flex;
  justify-content: right;
  align-items: baseline;
  gap: 1.2rem;
}
