body{
  margin:0;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.card {
  width: 18rem;
}

a {
  --bs-link-color-rgb: rgb(255, 121, 22);
}

.nav-pills {
  /* --bs-nav-pills-border-radius: var(--bs-border-radius); */
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #ff7916;
}


/* 
.nav {
  --bs-nav-link-padding-y: 0.6rem;
} */




/* .actions-footer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 1.2rem;
} */
